<% layout('layouts/boilerplate.ejs') %>
<div class="mb-3">
  <h1>Category List</h1>
</div>

<div class="mb-3">
  <% categories.forEach(category => { %>
  <div class="d-inline-flex" id="<%= category.name %>">
    <h2><%= category.name %></h2>
  </div>
  <div class="d-inline-flex m-3">
    <form
      class="d-inline"
      action="/todos/<%= category._id %>?_method=DELETE"
      method="POST"
    >
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>

  <table class="table table-striped">
    <thead>
      <tr class="table-secondary">
        <th scope="col">Title</th>
        <th scope="col">Due Day</th>
        <th scope="col">Description</th>
        <th scope="col">Completed</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% todayTasks.forEach(task => { %> <% if (task.category &&
      task.category._id && task.category._id.toString() ===
      category._id.toString()) { %> <% if (!task.completed) { %>
      <tr class="table-info">
        <% } else { %>
      </tr>

      <tr class="table-success">
        <% } %>
        <td>
          <a
            class="text-decoration-none fw-bold"
            href="/todos/<%= task._id %>/show"
            ><%= task.title %></a
          >
        </td>
        <% const dueDay = new Date(task.dueDay); dueDay.setDate(dueDay.getDate()
        + 1); const formattedDate = dueDay.toLocaleDateString(); %>
        <td><%= formattedDate %></td>
        <td><%= task.description %></td>
        <% if (task.completed) { %>
        <td>Complete</td>
        <% } else { %>
        <td>Incomplete</td>
        <% } %>
        <td>
          <button class="btn btn-success">
            <a
              href="/todos/<%= task._id %>/edit"
              class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
              >Edit</a
            >
          </button>
        </td>
        <td>
          <form
            class="d-inline"
            action="/todos/<%= task._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      <% } %> <% }) %>
    </tbody>
  </table>
  <% }) %>
</div>
